@{
    ViewBag.Title = "提交文本";
}

@using (Html.BeginForm("Post", "Article"))
{
    <div class="post-editor">
        <h2>发布日志</h2>
        <dl>
            <dt><h3>标题</h3><span>（可不填）</span></dt>
            <dd>@Html.TextBox("title", "")</dd>
            <dt>内容</dt>
            <dd>@Html.TextArea("content", new { @class = "editor" })</dd>
            <dt><h3>分类</h3><span>（可不填）</span></dt>
            <dd>@Html.DropDownList("categoryid", ViewData["CategoryList"] as SelectList, "默认分类") <a href="#">新建分类</a></dd>
            <dt><h3>是否置顶</h3><span>（可不填）</span></dt>
            <dd><input type="checkbox" name="isTop" value="1" />置顶1</dd>
            <dt><h3>设置隐私</h3><span>（可不填）</span></dt>
            <dd>@Html.DropDownList("private", ViewData["PrivateList"] as List<SelectListItem>)</dd>
            <dd>
                @Html.Hidden("source", "")
                @Html.Hidden("type", (int)CengZai.Model.ArtType.Text)
               @Html.ActionLink("取消","Index","Home") <input type="submit" name="btn-draft" value="草稿" />   <input type="submit" name="btn-post" value="提交" /> 
            </dd>
        </dl>
        <div>
        
            
        </div>

    </div>
}
               