@{
    ViewBag.Title = "提交文本";
}


<div class="container">
@using (Html.BeginForm("PostText", "Article", FormMethod.Post, new {@class="form-horizontal"}))
{
    <div class="row-fluid">
      <div class="span8 bg-white">
      <div class="padding">

        <fieldset> 
          <legend>发表日志</legend> 
          <div class="control-group"> 
            <label class="control-label" for="title">标题</label> 
            <div class="controls"> 
              @Html.TextBox("title", "", new { @class = "my-input-xxlarge" }) 
              <span class="help-block">（可不填）</span> 
            </div> 
          </div>
          <div class="control-group"> 
            <label class="control-label" for="content">标题</label>
            <div class="controls"> 
            @Html.TextArea("content", "", 10, 20, new { @class = "my-input-xxlarge editor" })
            </div>
          </div>
          <div class="form-actions"> 
            <button type="submit" class="btn btn-primary">保存</button> 
            @Html.ActionLink("取消", "Index", "Home", new { @class = "btn" })
          </div> 
        </fieldset>
      
      </div>
      </div>
      <!--.span8-->
      <div class="span4">
          <div class="well">
            @Html.DropDownList("categoryid", ViewData["CategoryList"] as SelectList, "默认分类")
            <a href="#">新建</a>
            <hr />
            @Html.DropDownList("private", ViewData["PrivateList"] as List<SelectListItem>)
            <hr />
            <label class="checkbox inline"> 
                <input type="checkbox" id="isTop" value="1"> 置顶
             </label> 

          </div><!--/.well -->
      </div>
    </div>
    <!--/.span4 -->
}
</div>   
<!--/.container -->