@{
    ViewBag.Title = "提交文本";
}

@section head{
	<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script>
	<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script>
	<script>
	    $(function () {
	        var editor = KindEditor.create('textarea[name="content"]',
            {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                items: [
						'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'image', 'link']
            });
	    });
	</script>
}

<div class="container">
@using (Html.BeginForm("PostText", "Article", FormMethod.Post, new {@class="form-horizontal"}))
{
    <div class="row-fluid">
      <div class="span8 bg-white">
      <div class="padding">

        <fieldset> 
          <legend>发表日志</legend>
          <div class="my-control-group"> 
            <label class="control-label" for="title">标题 <span class="help-block">（可不填）</span></label> 
            <div> 
              @Html.TextBox("title", "", new { @class = "input-xxlarge" }) 
            </div> 
          </div>
          <div class="my-control-group"> 
            <label class="control-label" for="title">内容</label> 
            <div> 
              @Html.TextArea("content", "", 15, 20, new { @class = "input-xxlarge editor" })
            </div> 
          </div>
          <div class="form-actions"> 
            <button type="submit" class="btn btn-primary">保存</button> 
            @Html.ActionLink("取消", "Index", "Home", new { @class = "btn" })
          </div> 
          <div>@Html.ValidationSummary()</div>
        </fieldset>
      
      </div>
      </div>
      <!--.span8-->
      <div class="span4">
          <div class="well">
            @Html.DropDownList("categoryid", ViewData["CategoryList"] as SelectList, "默认分类")
            <a href="#">新建</a>
            <hr />
            @Html.DropDownList("privacy", ViewData["PrivateList"] as List<SelectListItem>)
            <hr />
            <label class="checkbox inline"> 
                <input type="checkbox" name="top" value="1"> 置顶
             </label> 

          </div><!--/.well -->
      </div>
    </div>
    <!--/.span4 -->
}
</div>   
<!--/.container -->