@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我的首页-" + ViewBag.SiteName;
    var blogUser = ViewBag.BlogUser as CengZai.Model.User;
    var blogLover = ViewBag.BlogLover as CengZai.Model.Lover;
    var loverUser = ViewBag.LoverUser as CengZai.Model.User;
    var boy = ViewBag.Boy as CengZai.Model.User;
    var girl = ViewBag.Girl as CengZai.Model.User;
    var boyArtList = ViewBag.BoyArtList as List<CengZai.Model.Article>;
    var girlArtList = ViewBag.GirlArtList as List<CengZai.Model.Article>;
}
@section head{
<style type="text/css">

.caption
{
	color:#666;
}
.caption h5
{
	padding:5px;
}
.text-right
{
	text-align:right;
}
.lover-info
{
	padding:5px 0px;
	color:#999;
	text-align:center;
}
.subnav
{
	margin-top:10px;
}
.boy 
{
}
.boy a
{
	color:#2AB5DC;
}
.boy .thumbnail
{
	border-color:#D9ECFF;
}
.boy hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px dashed #A4D1FF;
    border-bottom: 1px dashed white;
}
.girl
{
	/*color:#C30;*/
}
.girl a
{
	color:#FF006C;
}
.girl .thumbnail
{
	border-color:#FFC1FF;
}
.girl hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px dashed #FFC1FF;
    border-bottom: 1px dashed white;
}
.article
{
	color:#444;
}
.article dl, dl dt, dl dd
{
	padding:0;
	margin:0;
}
.article dl dt, dl dd
{
	padding:5px;
}
.article .title
{
	font-size:14px;
}
.article .content
{
	font-size:14px;
	line-height:1.8em;
}
.article .info
{
	font-size:12px;
	line-height:22px;
	color:#999;
	
}
</style>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        $('.thumbnail .caption p').slideUp();
    //        $('.thumbnail').hover(
    //		function () {
    //		    $(this).find(".caption p").slideDown();
    //		},
    //		 function () {
    //		     $(this).find(".caption p").slideUp();
    //		 }
    //        );
    //    });
</script>

    @RenderSection("bloghead", false)
}


<div class="container  bg-white">
<div class="padding">
    
    <!--顶部区域-->
    <div class="row-fluid">
        <div class="span6">
            <!--boy info-->
            <div class="row-fluid boy">
                <div class="span10 text-right">
                    <h4><span class="muted font12">男主人</span> @Html.ActionLink(@boy.Nickname, "Blog", new { username = boy.Username })</h4>
                    <p class="sign">@boy.Sign</p>
                    <p>@Html.ActionLink("关注他","FeedID", "Feed")</p>
                </div>
                <div class="span2 text-right">
                    <span class="thumbnail"><img class="avartar" src="@Html.GetHttpPath(boy.Avatar)" alt="" /></span>
                </div>
            </div>
        </div>
        <div class="span6">
          <!--girl info-->
            <div class="row-fluid girl">
                <div class="span2">
                    <span class="thumbnail"><img class="avartar" src="@Html.GetHttpPath(girl.Avatar)" alt="" /></span>
                </div>
                <div class="span10">
                    <h4>@Html.ActionLink(girl.Nickname, "Blog", new { username = girl.Username }) <span class="muted font12">女主人</span></h4>
                    <p class="sign">@girl.Sign</p>
                    <p>@Html.ActionLink("关注她", "FeedID", "Feed")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="lover-info">博客地址：http://@ViewBag.SiteDomain@Url.Action("Blog", "Blog")</div>
    
    @*导航菜单*@
    @Html.Partial("_HeadNav", new { BlogUser = blogUser, Boy=boy, Girl=girl })


    @RenderBody()


</div>
</div>



