@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我的首页-" + ViewBag.SiteName;
    var blogUser = ViewBag.BlogUser as CengZai.Model.User;
    var blogLover = ViewBag.BlogLover as CengZai.Model.Lover;
    var loverUser = ViewBag.LoverUser as CengZai.Model.User;
    var boy = ViewBag.Boy as CengZai.Model.User;
    var girl = ViewBag.Girl as CengZai.Model.User;
    var boyArtList = ViewBag.BoyArtList as List<CengZai.Model.Article>;
    var girlArtList = ViewBag.GirlArtList as List<CengZai.Model.Article>;
}
@section head{
<style type="text/css">

.caption
{
	color:#666;
}
.caption h5
{
	padding:5px;
}
.text-right
{
	text-align:right;
}
.lover-info
{
	padding:5px 0px;
	color:#999;
	text-align:center;
}
.subnav
{
	margin-top:10px;
}
.boy 
{
}
.boy a
{
	color:#2AB5DC;
}
.boy .thumbnail
{
	border-color:#D9ECFF;
}
.boy hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px dashed #A4D1FF;
    border-bottom: 1px dashed white;
}
.girl
{
	/*color:#C30;*/
}
.girl a
{
	color:#FF006C;
}
.girl .thumbnail
{
	border-color:#FFC1FF;
}
.girl hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px dashed #FFC1FF;
    border-bottom: 1px dashed white;
}
.article
{
	color:#444;
}
.article dl, dl dt, dl dd
{
	padding:0;
	margin:0;
}
.article dl dt, dl dd
{
	padding:5px;
}
.article .title
{
	font-size:14px;
}
.article .content
{
	font-size:14px;
	line-height:1.8em;
}
.article .info
{
	font-size:12px;
	line-height:22px;
	color:#999;
	
}
</style>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        $('.thumbnail .caption p').slideUp();
    //        $('.thumbnail').hover(
    //		function () {
    //		    $(this).find(".caption p").slideDown();
    //		},
    //		 function () {
    //		     $(this).find(".caption p").slideUp();
    //		 }
    //        );
    //    });
</script>

    @RenderSection("bloghead", false)
}


<div class="container  bg-white">
<div class="padding">

@if (loverUser != null)
{    
    <!--顶部区域-->
    <div class="row-fluid">
        <div class="span6">
            <!--boy info-->
            <div class="row-fluid boy">
                <div class="span10 text-right">
                    <p><h4><span class="muted font12">男主人</span> @Html.ActionLink(@boy.Nickname, "Blog", new { username = boy.Username })</h4></p>
                    <p class="sign">@boy.Sign</p>
                    <p class="muted">http://@ViewBag.SiteDomain@Url.Action("Blog", "Blog", new {username=boy.Username })</p>
                </div>
                <div class="span2 text-right">
                    <p class="thumbnail"><img class="avartar" src="@Url.GetAvatarUrl(boy.Avatar)" alt="" /></p>
                    <p>@Ajax.GetFriendAddLink(boy.UserID, "")</p>
                </div>
            </div>
        </div>
        <div class="span6">
          <!--girl info-->
            <div class="row-fluid girl">
                <div class="span2">
                    <p class="thumbnail"><img class="avartar" src="@Url.GetUploadUrl(girl.Avatar)" alt="" /></p>
                    <p>
                        @Ajax.GetFriendAddLink(girl.UserID, "")
                    @*@Ajax.ActionLink("关注她", "FriendAdd", "Friend", new { friendUserID = girl.UserID, time = DateTime.Now.Ticks }, new AjaxOptions { OnSuccess = "$FR.addSuccess", OnFailure = "$FR.addFail" }, new { frienduserid = girl.UserID })*@
                    </p>
                </div>
                <div class="span10">
                    <p><h4>@Html.ActionLink(girl.Nickname, "Blog", new { username = girl.Username }) <span class="muted font12">女主人</span></h4></p>
                    <p class="sign">@girl.Sign</p>
                    <p class="muted">http://@ViewBag.SiteDomain@Url.Action("Blog", "Blog", new { username = girl.Username })</p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="lover-info">博客地址：http://@ViewBag.SiteDomain@Url.Action("Blog", "Blog")</div>*@
}
else
{
    <!--顶部区域-->
    <div class="row-fluid">
        <div class="span12">
          <!--girl info-->
            <div class="row-fluid">
                <div class="span2">
                    <span class="thumbnail"><img class="avartar" src="@Url.GetUploadUrl(blogUser.Avatar)" alt="" /></span>
                </div>
                <div class="span10">
                    <p><h4>@Html.ActionLink(blogUser.Nickname, "Blog", new { username = blogUser.Username }) <span class="muted font12">单身</span></h4></p>
                    <p class="sign">@blogUser.Sign</p>
                    <p>@Html.ActionLink("关注她", "FeedID", "Feed")</p>
                    <p class="muted">http://@ViewBag.SiteDomain@Url.Action("Blog", "Blog")</p>
                </div>
            </div>
        </div>
    </div>
}

@if (loverUser != null)
{
    <div class="subnav">
    <ul class="nav nav-pills pull-left boy">
        <li>@Html.ActionLink("首页", "Blog", new { username = boy.Username })</li>
        <li>@Html.ActionLink(boy.Nickname + "的档案", "Profile", new { username = boy.Username })</li>
        <li>@Html.ActionLink(boy.Nickname + "的证书", "Certificate", new { username = boy.Username })</li>
    </ul>
    <ul class="nav nav-pills pull-right girl">
        <li>@Html.ActionLink(girl.Nickname + "的证书", "Certificate", new { username = boy.Username })</li>
        <li>@Html.ActionLink(girl.Nickname + "的档案", "Profile", new { username = girl.Username })</li>
        <li>@Html.ActionLink("首页", "Blog", new { username = girl.Username })</li>
    </ul>
    </div>
}
else
{
    <div class="subnav">
    <ul class="nav nav-pills pull-left boy">
        <li>@Html.ActionLink("首页", "Blog", new { username = blogUser.Username })</li>
        <li>@Html.ActionLink(blogUser.Nickname + "的档案", "Profile", new { username = blogUser.Username })</li>
    </ul>
    <ul class="nav nav-pills pull-right girl">
        <li>@Html.ActionLink("申请与Ta登记", "Apply", "Lover", new { username = blogUser.Username }, null)</li>
    </ul>
    </div>
}


    @RenderBody()


</div>
</div>



