@{
    Layout = null;
    var blogUser = Model.BlogUser as CengZai.Model.User;
    var boy = Model.Boy as CengZai.Model.User;
    var girl = Model.Girl as CengZai.Model.User;
}
<!--/顶部区域-->
@*   <div class="subnav @(blogUser.Sex == 2 ? "girl" : "boy")">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("我的首页", "Blog")</li>
        <li>@Html.ActionLink("我的档案", "Profile", new { username = blogUser.Username })</li>
        <li>@Html.ActionLink("我的证书", "Certificate")</li>
        <li>@Html.ActionLink("" + girl.Nickname, "Profile", new { username = girl.Username })</li>
    </ul>
    </div>*@


    <div class="subnav">
    <ul class="nav nav-pills pull-left boy">
        <li>@Html.ActionLink("首页", "Blog", new { username = boy.Username })</li>
        <li>@Html.ActionLink(boy.Nickname + "的档案", "Profile", new { username = boy.Username })</li>
        <li>@Html.ActionLink(boy.Nickname + "的证书", "Certificate")</li>
    </ul>
    <ul class="nav nav-pills pull-right girl">
        <li>@Html.ActionLink(girl.Nickname + "的证书", "Certificate")</li>
        <li>@Html.ActionLink(girl.Nickname + "的档案", "Profile", new { username = girl.Username })</li>
        <li>@Html.ActionLink("首页", "Blog", new { username = girl.Username })</li>
    </ul>
    </div>