@{
    ViewBag.Title = "上传头像";
    var user = Html.GetLoginUser();
}
@section head{
    <script src="@Url.GetResourceUrl("/js/swfupload/swfupload.js")" type="text/javascript"></script>
    <script src="@Url.GetResourceUrl("/js/swfupload/fileprogress.js")" type="text/javascript"></script>
    <script src="@Url.GetResourceUrl("/js/swfupload/handlers.js")" type="text/javascript"></script>
    <link href="@Url.GetResourceUrl("/js/jcrop/css/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.GetResourceUrl("/js/jcrop/js/jquery.Jcrop.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var swfu;

        window.onload = function () {
            var settings = {
                flash_url: "@Url.GetResourceUrl("/js/swfupload/swfupload.swf")",
                flash9_url: "@Url.GetResourceUrl("/js/swfupload/swfupload_fp9.swf")",
                //upload_url: "/Settings/UploadAvatar",
                //file_post_name: "fileAvatar",
                upload_url: "/Tool/AjaxUploadTempImage",
                file_post_name: "file",
                post_params: {
                    "ASPSESSID": "@Session.SessionID"
                },
                debug: false,

                // File Upload Settings
                file_size_limit: "2 MB",
                file_types: "*.jpg",
                file_types_description: "JPG Images",
                file_upload_limit: 0,    // Zero means unlimited
                file_queue_limit: 1,
                button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,

                // Button settings
                button_image_url: "@Url.GetResourceUrl("/img/upload-photo.png")",
                button_width: 160,
                button_height: 38,
                button_placeholder_id: "divUploadAvatar",
                button_text: '<span class="theFont"></span>',
                button_text_style: ".theFont { font-size: 16;color:#ff0000; }",
                button_text_left_padding: 12,
                button_text_top_padding: 3,
                custom_settings: {
                    progressTarget: "uploadProgress"
                },

                // The event handler functions are defined in handlers.js
                swfupload_preload_handler: preLoad,
                swfupload_load_failed_handler: loadFailed,
                file_dialog_complete_handler: fileDialogComplete,
                file_queued_handler: fileQueued,
                file_queue_error_handler: fileQueueError,
                upload_start_handler: uploadStart,
                upload_progress_handler: uploadProgress,
                upload_error_handler: uploadError,
                upload_success_handler: uploadSuccess

                
                    
            };

        swfu = new SWFUpload(settings);
    }

    function fileDialogComplete(numFilesSelected, numFilesQueued) {
        try {
            if (numFilesQueued > 0) {
                this.addPostParam("avatar",$("#avatar").val());
                this.startUpload();
                $("#tips-avatar").html("正在上传...");
            }
        } catch (ex) {
            this.debug(ex);
        }
    }

    function uploadSuccess(file, serverData) {
	    try {
            var data = eval('(' + serverData + ')');
            if(data.id == "success"){
                var filename = data.msg;
                var showUrl =  '@CengZai.Helper.Config.UploadHttpPath/' + filename;
//                $("#avatar").val(filename);
//                $("#imgAvatar").attr("src",  showUrl);
//                $("#imgAvatar").css("display","block");
                //$("#tips-avatar").html("上传完毕");
                openCutImageDialog(filename, showUrl);
            }
            else
            {
                $("#tips-avatar").html(data.msg);;
                alert(data.msg);
            }
                    
	    } catch (ex) {
            alert('上传图片出现异常，请稍后再试');
            console.log(ex);
		    this.debug(ex);
	    }
    }

    </script>
}

<div class="container bg-white">
<div class="padding">
    <h2>@ViewBag.Title</h2>
    <br />
    @Html.Partial("_SettingNav", new { Active = "Avatar" })
 
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="control-group">
                <label class="control-label" for="oldpassword">当前头像：</label>
                <div class="controls">
                    <p>
                        <img id="imgAvatar" class="thumbnail" width="150" src="@Url.GetAvatarUrl(user.Avatar)" alt="当前头像" />
                        @Html.Hidden("avartar", @user.Avatar)
                    </p>
                    <div id="divUploadAvatar"></div>
                    <div id="uploadProgress" style="color:Red"></div>
                     <span class="field-validation-error" data-valmsg-for="avatar" id="tips-avatar" data-valmsg-replace="true"></span>
                    <p class="help-block">请上传一张150px（宽）×150px（高）的头像，最大图片大小2Mb</p>

                </div>
            </div>
        </div>
    </div>

</div>
</div>   
<!--/.container -->

 <!-- sample modal content -->
<div id="imgCutModal" class="hide">
@using (Ajax.BeginForm("AjaxSaveAvatar", new AjaxOptions { OnSuccess = "cutResult" }))
{
    <img id="imgCutOriginal" alt="" />
   
    <div class="padding">
        <input type="submit" value="保存选中区域" class="btn btn-primary" /> <span class="muted">点击图片选取框进行裁剪</span>
    </div>
    <div id="coords">
        <input type="hidden" id="hdFilename" name="filename" value="" />
        <input type="hidden" id="x" name="x" value="0" />
        <input type="hidden" id="y" name="y" value="0" />
        <input type="hidden" id="w" name="w" value="0" />
        <input type="hidden" id="h" name="h" value="0" />
    </div>
}
</div>



<script type="text/javascript">
    
    function openCutImageDialog(filename, showUrl) {
        $("#imgCutOriginal").attr("src", showUrl);
        $("#hdFilename").val(filename);
        //初始化裁剪对话框
        $.dialog({
            id:"DIALOG_CUT_IMAGE",
            title: '裁剪上传图片',
            content: $('#imgCutModal').html(),
            focus: false,
            lock: true,
            padding: 3
        });

        //初始化裁剪
        $('#imgCutOriginal').Jcrop({
            onChange: setCoords,
            onSelect: setCoords,
            onRelease: clearCoords,
            bgColor: 'black',
            bgOpacity: .4,
            setSelect: [0, 0, 150, 150],
            aspectRatio: 150/150,
            minSize:[150,150]
        });
    }

    function setCoords(c) {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
    };

    function clearCoords() {
        $('#coords input').val('');
    };

    function cutResult(e) {
        e = eval(e);
        if (e.id == "success") {
            var filename = e.msg;
            var showUrl = '@CengZai.Helper.Config.UploadHttpPath/' + filename;
            $("#avatar").val(filename);
            $("#imgAvatar").attr("src", showUrl);
            $("#imgAvatar").css("display", "block");
            $("#tips-avatar").html("上传完毕");
            $.dialog.get('DIALOG_CUT_IMAGE').close();
        }
        else {
            alert(e.msg);
        }
    }

</script>