@{
    ViewBag.Title = "修改密码-";
    var user = Html.GetLoginUser();
}


<div class="container bg-white">
<div class="padding">
    <h2>修改密码</h2>
    <br />
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("修改资料", "Profile")</li>
        <li>@Html.ActionLink("上传头像", "Avatar")</li>
        <li class="active">@Html.ActionLink("修改密码", "Password")</li>
    </ul>
 
    <div class="tab-content">
        <div class="tab-pane active">
            @using (Ajax.BeginForm("Apply", null
                , new AjaxOptions { UpdateTargetId = "errmsg", OnBegin = "beginSubmit", OnSuccess = "succ", OnFailure = "fail" }
                , new { @class = "form-horizontal" }))
            {
            <div class="control-group">
                <label class="control-label" for="oldpassword">当前密码：</label>
                <div class="controls">
                    @Html.Password("oldpassword", "", new { @class = "input-middle" })
                    <span class="field-validation-error" data-valmsg-for="oldpassword" id="tips-oldpassword" data-valmsg-replace="true"></span>
                    <p class="help-block">请输入当前密码，作为验证</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">新密码：</label>
                <div class="controls">
                    @Html.Password("password", "", new { @class = "input-middle" })
                    <span class="field-validation-error" data-valmsg-for="password" id="tips-password" data-valmsg-replace="true"></span>
                    <p class="help-block">请输入当前密码，作为验证</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="repassword">重复新密码：</label>
                <div class="controls">
                    @Html.Password("repassword", "", new { @class = "input-middle" })
                    <span class="field-validation-error" data-valmsg-for="repassword" id="tips-repassword" data-valmsg-replace="true"></span>
                    <p class="help-block">请输入当前密码，作为验证</p>
                </div>
            </div>
            }
        </div>
    </div>

</div>
</div>   
<!--/.container -->
