@{
    ViewBag.Title = "Index";
    var user = ViewBag.User as CengZai.Model.User;
}

<h2>@user.Nickname</h2>
<div class="nav">
    <ul>
        <li>@Html.ActionLink("首页","Index", "Home")</li>
        <li>@Html.ActionLink("所有日志","Index", "Article")</li>
        <li>@Html.ActionLink("所有日志","Index", "Article")</li>
        <li>@Html.ActionLink("关于我","About", "Home")</li>
        <li>@Html.ActionLink("注销","Logout", "User")</li>
    </ul>
</div>


@RenderPage("../Article/_Layout_ArtNav.cshtml", null)

