@{
    ViewBag.Title = "我的首页";
    var loginUser = Html.GetLoginUser();
    var artlist = ViewBag.ArtList as List<CengZai.Model.Article>;
}
@section head{


}

<div class="container">
    @if (loginUser != null && loginUser.State == 0)
    {
    <div class="alert alert-block fade in"> 
        <a class="close" data-dismiss="alert" href="#">&times;</a> 
        <h4 class="alert-heading">@loginUser.Nickname，你的邮箱[@loginUser.Email]尚未激活!</h4> 
        <p>您的邮箱尚未激活！邮箱是作为找回密码的重要方式，为了您的帐号安全，建议您立刻登录邮箱进行激活！</p> 
        <p> 
            <a class="btn btn-danger" href="http://mail.@Html.GetEmailDomain(loginUser.Email)" target="_blank">登录邮箱进行激活</a> 
            @Html.ActionLink("重新发送激活邮件", "ResendActivate", "Account", null, new { @class = "btn" })
        </p> 
    </div>
    }


    @if (ViewBag.IsReadSystem)
    {
        <div class="alert alert-success fade in"> 
            <a class="close" data-dismiss="alert" href="#">&times;</a> 
            <p> 
                @loginUser.Nickname，您关注的用户太少，系统随机帮你加载精彩内容，随便看看吧~~！
            </p> 
        </div>
    }
     <div class="row-fluid">
      <div class="span8">
        <!-- Main 开始 -->
        <div class="feed-list">
           @if (artlist != null && artlist.Count > 0)
           {
               foreach (var art in artlist)
               {
                   var artUser = Html.GetUser(art.UserID);
                   
                    <section class="feed">
            	    <aside class="feed-avatar">
                	    <a href="@Url.Action("Blog", "Blog", new { username = artUser.Username })" title="@Html.GetUserNickname(art.UserID)" target="_blank"> 
     				    <img src="@Url.GetAvatarUrl(artUser.Avatar)" width="64" alt="noavatar"/>
                        </a>
                        <p>&nbsp;&nbsp;@Ajax.GetFriendAddLink(artUser.UserID, "")</p>
                        <span class="feed-corner"></span>
                    </aside>
                    <div class="feed-content">
                        <article>
                        <cite><a href="@Url.Action("Blog", "Blog", new { username = artUser.Username })" target="_blank">@artUser.Nickname</a> 发表于 @Html.GetDateFormat(art.PostTime, "yyyy年M月d日 HH:mm:ss") </cite>
                        @if (!string.IsNullOrEmpty(art.Title))
                        {
                            <h1>@Html.ActionLink(art.Title, "Article", "Blog", new { username = artUser.Username, artid = art.ArtID }, new { target = "_blank" })</h1>
                        }
                        <div class="art-body">
                            @Html.GetHtmlSubstring(art.Content, 500)
                        </div>
                        <hr />
                        <footer>
                             @Html.ActionLink("阅读全文", "Article", "Blog", new { username = artUser.Username, artid = art.ArtID }, new { target = "_blank" })
                        </footer>
                        </article>
                    </div>
                    <div class="clear"></div>
                </section>

               }
           }



                <div class="pager">@Html.Pager()</div>

          </div>
          <!-- feed-list end -->

          
      </div>
      <!-- Main 结束 -->

      <!-- Side 开始 -->
      <div class="span4">
          <div class="well sidebar-nav"> 
            <ul class="nav nav-list"> 
              <li class="nav-header">@loginUser.Nickname，欢迎您！</li> 
              <li class="active">@Html.ActionLink("最新动态", "Index", "Home")</li> 
              <li>@Html.ActionLink("发表日志", "PostText", "Article")</li> 
              @*<li>@Html.ActionLink("上传照片", "PostImage", "Article")</li> *@
              <li>@Html.ActionLink("发送私信", "Send", "Inbox")</li> 
              <li class="nav-header">控制面板</li> 
              <li>@Html.ActionLink("上传头像", "Avatar", "Settings")</li> 
              <li>@Html.ActionLink("修改资料", "Profile", "Settings")</li>
              <li>@Html.ActionLink("修改密码", "Password", "Settings")</li>
            </ul> 
            @*@RenderPage("~/Views/About/_NavList.cshtml")*@
          </div><!--/.well --> 
      </div>
      <!-- Side 结束 -->

    </div>

</div>



