<div class="oauth-link">
    <text>使用其它帐号登录:</text> 
    <img src="@Url.GetResourceUrl("/img/ico_qzone_16x16.png")" /> <a href="@Url.Action("QQLogin", "OAuth")">腾讯QQ</a>&nbsp;
    <img src="@Url.GetResourceUrl("/img/ico_sina_16x16.png")" /> <a href="@Url.Action("SinaLogin", "OAuth")">新浪微博</a>&nbsp;
    <img src="@Url.GetResourceUrl("/img/ico_sina_16x16.png")" /> <a href="@Url.Action("TestLogin", "OAuth")">测试登录</a>&nbsp;  
</div>
