@{
    ViewBag.Title = "我的首页-" + ViewBag.SiteName;
    var blogUser = ViewBag.BlogUser as CengZai.Model.User;
    var blogLover = ViewBag.BlogLover as CengZai.Model.Lover;
    var loverUser = ViewBag.LoverUser as CengZai.Model.User;
    var boy = ViewBag.Boy as CengZai.Model.User;
    var girl = ViewBag.Girl as CengZai.Model.User;
    var boyArtList = ViewBag.BoyArtList as List<CengZai.Model.Article>;
    var girlArtList = ViewBag.GirlArtList as List<CengZai.Model.Article>;
}
@section head{
<style type="text/css">

.caption
{
	color:#666;
}
.caption h5
{
	padding:5px;
}
.text-right
{
	text-align:right;
}
.lover-info
{
	padding:5px 0px;
	color:#999;
	text-align:center;
}
.subnav
{
	margin-top:10px;
}
.boy a
{
	color:#2AB5DC;
}
.boy .thumbnail
{
	border-color:#D9ECFF;
}
.boy hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px dashed #A4D1FF;
    border-bottom: 1px solid white;
}
.girl
{
}
.girl a
{
	color:#FF006C;
}
.girl .thumbnail
{
	border-color:#FFC1FF;
}
.girl hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px dashed #FFC1FF;
    border-bottom: 1px solid white;
}
.article
{
	margin-top:10px;
}
.article dl, dl dt, dl dd
{
	padding:0;
	margin:0;
}
.article dl dt, dl dd
{
	padding:5px;
}
.article .title
{
	font-size:14px;
}
.article .content
{
	text-indent:2em;
	font-size:14px;
	line-height:1.5em;
}
.article .info
{
	font-size:12px;
	line-height:22px;
	color:#999;
	
}
</style>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        $('.thumbnail .caption p').slideUp();
    //        $('.thumbnail').hover(
    //		function () {
    //		    $(this).find(".caption p").slideDown();
    //		},
    //		 function () {
    //		     $(this).find(".caption p").slideUp();
    //		 }
    //        );
    //    });
</script>
}

<div class="container  bg-white">
<div class="padding">
    
    <!--顶部区域-->
    <div class="row-fluid">
        <div class="span6">
            <!--boy info-->
            <div class="row-fluid boy">
                <div class="span10 text-right">
                    <h4><span class="muted font12">男主人</span> @Html.ActionLink(@boy.Nickname, "Blog", new { username = boy.Username })</h4>
                    <p class="sign">@boy.Sign</p>
                    <p>@Html.ActionLink("关注他","FeedID", "Feed")</p>
                </div>
                <div class="span2 text-right">
                    <span class="thumbnail"><img class="avartar" src="@Html.GetHttpPath(boy.Avatar)" alt="" /></span>
                </div>
            </div>
        </div>
        <div class="span6">
          <!--girl info-->
            <div class="row-fluid girl">
                <div class="span2">
                    <span class="thumbnail"><img class="avartar" src="@Html.GetHttpPath(girl.Avatar)" alt="" /></span>
                </div>
                <div class="span10">
                    <h4>@Html.ActionLink(girl.Nickname, "Blog", new { username = girl.Username }) <span class="muted font12">女主人</span></h4>
                    <p class="sign">@girl.Sign</p>
                    <p>@Html.ActionLink("关注她", "FeedID", "Feed")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="lover-info">博客地址：http://@ViewBag.SiteDomain@Url.Action("Blog", "Blog")</div>
    
    <!--/顶部区域-->
    <div class="subnav @(blogUser.Sex == 2 ? "girl" : "boy")">
    <ul class="nav nav-pills">
        <li>@Html.ActionLink("首页", "Blog")</li>
        <li>@Html.ActionLink(boy.Nickname, "Blog", new { username = boy.Username })</li>
        <li>@Html.ActionLink(girl.Nickname, "Blog", new { username = girl.Username })</li>
        <li>@Html.ActionLink("证书", "Certificate")</li>
    </ul>
    </div>

    <!--内容区域-->
    <div class="article row-fluid">
        <!--boy content-->
        <div class="span6 boy">
        <div class="padding">
        @if (boyArtList != null)
        {
            for (int i = 0; i < boyArtList.Count; i++)
            {
              <dl>
                <dt class="title">@Html.ActionLink(boyArtList[i].Title + "aa", "Article", new { username=boy.Username, artid=boyArtList[i].ArtID })</dt>
                <dd class="content">@Html.GetRemoveHtmlContent(boyArtList[i].Content, 500)@*@MvcHtmlString.Create(boyArtList[i].Content)*@</dd>
                <dd class="info">
                    <div class="row-fluid">
                        <span class="span6">@Html.GetDateFormat(boyArtList[i].PostTime, "yyyy年M月d日")</span>
                        <span class="span6">@boyArtList[i].ViewCount 次浏览</span>
                    </div>
                </dd>
                @*<dd class="comment"></dd>*@
              </dl>
                if (i < (boyArtList.Count - 1))
                {
                    <hr />
                }
            }
        }

@*          <dl>
            <dt class="title"><a href="#" rel="bookmark">男性妊娠反应原因及表现</a></dt>
            <dd class="content">一提起妊娠反应，人们都以为这是孕妇的事儿，其实，有些孕妇的丈夫，也可能发和“妊娠反应”。
    他们的反应与其妻子不同，不是恶心、呕吐和嗅觉异常敏感…</dd>
            <dd class="info">
                <div class="row-fluid">
                    <span class="span6">2012年3月16日</span>
                    <span class="span6">2003次浏览/8条评论</span>
                </div>
            </dd>
            @*<dd class="comment"></dd>* @
          </dl>
          <hr />

          <dl>
            <dt class="title"><a href="#" rel="bookmark">男性妊娠反应原因及表现</a></dt>
            <dd class="content">一提起妊娠反应，人们都以为这是孕妇的事儿，其实，有些孕妇的丈夫，也可能发和“妊娠反应”。
    他们的反应与其妻子不同，不是恶心、呕吐和嗅觉异常敏感…</dd>
            <dd class="info">
                <div class="row-fluid">
                    <span class="span6">2012年3月16日</span>
                    <span class="span6">2003次浏览/8条评论</span>
                </div>
            </dd>
            @*<dd class="comment"></dd>* @
          </dl>*@

        </div>
        </div>
        <!--/boy content-->

        <!--girl content-->
        <div class="span6 girl">
        <div class="padding">

          @if (girlArtList != null)
        {
            for (int i = 0; i < girlArtList.Count; i++)
            {
              <dl>
                <dt class="title"><a href="#" rel="bookmark">@girlArtList[i].Title</a></dt>
                <dd class="content">@Html.GetRemoveHtmlContent(girlArtList[i].Content, 300)</dd>
                <dd class="info">
                    <div class="row-fluid">
                        <span class="span6">@Html.GetDateFormat(girlArtList[i].PostTime, "yyyy年M月d日")</span>
                        <span class="span6">@girlArtList[i].ViewCount 次浏览</span>
                    </div>
                </dd>
                @*<dd class="comment"></dd>*@
              </dl>
                if (i < (girlArtList.Count - 1))
                {
                    <hr />
                }
            }
        }


        </div>
        </div>
        <!--/girl content-->
  </div>
    <!--/内容区域-->

  <hr />
  <div class="pager">@Html.Pager(20, 300, "page", 3)</div>

</div>
</div>



