@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Blog/_BlogLayout.cshtml";
    var user = ViewBag.BlogUser as CengZai.Model.User;
}

@section bloghead{
<style type="text/css">
    
</style>
}

<div class="profile well">
    <table class="table">
        <thead>
        <tr>
            <td style="width:20%">昵称</td>
            <td style="width:80%">@user.Nickname</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>性别</td>
            <td>@Html.GetUserSexName(user.Sex)</td>
        </tr>
        <tr>
            <td>签名</td>
            <td>@user.Sign</td>
        </tr>
        <tr>
            <td>恋爱状态</td>
            <td>@user.Love</td>
        </tr>
        <tr>
            <td>个性签名</td>
            <td>@user.Sign</td>
        </tr>
        <tr>
            <td>自我介绍</td>
            <td>@user.Intro</td>
        </tr>
        <tr>
            <td colspan="2"><a href="#" class="btn">关注我</a></td>
        </tr>
        </tbody>
    </table>
</div>