@{
    Layout = null;
    var user = Html.GetLoginUser() as CengZai.Model.User;
}

<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
		<a class="brand logo" href="@ViewBag.SiteHost">@ViewBag.SiteName</a>
		<div class="nav-collapse">
        @if (user != null)
        {
		    <ul class="nav">
			    <li class="active">@Html.HttpActionLink("首页","Index","Home", null, null)</li>
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">发表<b class="caret"></b></a> 
                    <ul class="dropdown-menu"> 
                        <li>@Html.HttpActionLink("日志", "PostText", "Article")</li> 
                        <li>@Html.HttpActionLink("私信", "Send", "Inbox")</li>
                        <li class="divider"></li> 
                        <li>@Html.HttpActionLink("日志管理", "Index", "Article")</li>
                    </ul> 
                </li>
                <li>@Html.HttpActionLink("我的主页", "Blog", "Blog", new { username = user.Username }, null)</li>
                <li><a href="@Url.HttpAction("Index", "Lover")">情侣<sup id="loverNewCount" class="label label-important hide">0</sup></a></li>
			    <li>@Html.HttpActionLink("好友", "List", "Friend")</li>
		    </ul>
            <!--<form class="navbar-form pull-left" action="">-->
            <form method="get" action="@Url.Action("Find", "Friend")" class="navbar-form pull-left">
                <div class="input-append">
                    <input type="text" name="keyword" class="span2" id="appendedPrependedInput" size="16"  placeholder="搜索感兴趣的人"><input type="submit" class="btn" value="搜索" />
                </div>
            </form>
            <!--</form>-->
            <ul class="nav pull-right nav-mini-link">
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@user.Nickname <b class="caret"></b></a> 
                    <ul class="dropdown-menu"> 
                    <li>@Html.HttpActionLink("上传头像", "Avatar", "Settings")</li> 
                    <li>@Html.HttpActionLink("修改资料", "Profile", "Settings")</li> 
                    <li>@Html.HttpActionLink("修改密码", "Password", "Settings")</li> 
                    <li class="divider"></li> 
                    <li>@Html.HttpActionLink("退出", "Logout", "Account")</li> 
                    </ul> 
                </li>
                <li class="divider-vertical"></li> 
                <li><a href="@Url.HttpAction("Index", "Inbox", new { active = "unread" })">消息<sup id="inboxNewCount" class="label label-success hide">0</sup></a></li>
                <li>@Html.HttpActionLink("邀请", "Invite", "Friend")</li> 
                <li>@Html.HttpActionLink("退出", "Logout", "Account")</li>
            </ul>
        }
        else
        {
            <ul class="nav">
                <li>@Html.HttpActionLink("登录", "Index", "Home")</li>
		    </ul>
            <p class="navbar-text pull-right">还有没有注册曾在网？ @Html.HttpActionLink("立刻注册", "Register", "Account")</p>
        }
		</div><!--/.nav-collapse -->
	</div>
	</div>
</header>
<!-- navbar 结束 -->