@{
    ViewBag.Title = "用户协议";
}
@section head{
<style type="text/css">
.content
{
    line-height:2.3em;
    font-size:14px;
}
.content p
{
    padding:3px;
    line-height:2.3em;
    font-size:14px;
}
.content br
{
}
</style>
}
<div class="container row-fluid">

    <div class="span9">
        <div class="bg-white">
            <section class="padding">
                <div class="page-header"> 
                    <h1>用户服务协议 <small>@ViewBag.SiteSlogan</small></h1> 
                </div> 
                <article class="content">
<!--协议内容--->

<p>
	<b>1&nbsp;说明</b><b></b> 
</p>
<p>
	1.1 本协议适用于 <b>@ViewBag.SiteName</b>（@ViewBag.SiteDomain）。一旦您注册成为 <b>@ViewBag.SiteName</b>（网址为：@ViewBag.SiteDomain）的用户，便表示您（以下简称“用户”）已经完全理解并同意接受本协议（以下简称“协议”）。
</p>
<p>
	1.2 用户注册成功后，<b>@ViewBag.SiteName</b>将给予每个用户一个帐号以及相应的密码,&nbsp;该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
</p>
<p>
	1.3 用户可以使用<b>@ViewBag.SiteName</b>各种功能服务,&nbsp;当用户使用<b>@ViewBag.SiteName</b>各种服务时,&nbsp;用户的使用行为视为其对该单项服务的服务条款以及<b>@ViewBag.SiteName</b> 在该单项服务中发出的各类公告的同意。&nbsp;
</p>
<p>
	1.4 <b>@ViewBag.SiteName</b>可随时自行全权决定更改协议， 协议更改及相关条款更新无需另行通知。&nbsp;您在使用相关服务时,&nbsp;应关注并遵守其所适用的相关条款.&nbsp;除另行明确声明外，任何使我们的“服务内容”范围扩大或功能增强的新内容均受本协议约束。<br />
<br />
1.5 您在使用<b>@ViewBag.SiteName</b>提供的各项服务之前，&nbsp;应仔细阅读本“协议”。&nbsp;如您不同意本“协议”或随时对其的修改,&nbsp;您可以主动取消<b>@ViewBag.SiteName</b>提供的服务；您一旦使用<b>@ViewBag.SiteName</b>服务,&nbsp;即视为您已了解并完全同意本“协议”各项内容,&nbsp;包括<b>@ViewBag.SiteName</b>对本“协议”随时所做的任何修改,&nbsp;并成为<b>@ViewBag.SiteName</b>用户。
</p>
<br />
<p>
	&nbsp;<b>2&nbsp;</b><b>个人信息与隐私保护</b> 
</p>
<p>
	2.1 进行用户注册时，应保证用户信息的真实、准确和完整。如果上述信息实际发生变化，用户应及时进行更新和修改。对于任何上述信息的不真实、不准确、不完整或未能及时更新所导致的任何损失和风险，<b>@ViewBag.SiteName</b>不承担任何责任。
</p>
<p>
2.2 用户不应将其帐号、密码转让或出借予他人使用.&nbsp;如用户发现其帐号遭他人非法使用,&nbsp;应立即通知<b>@ViewBag.SiteName</b>.&nbsp;因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用,&nbsp;<b>@ViewBag.SiteName</b>不承担任何责任。
</p>
<p>
2.3 <b>@ViewBag.SiteName</b>不对外公开或向第三方提供单个用户的注册资料,&nbsp;除非:&nbsp;<br />
（1）事先获得用户的明确授权；<br />
（2）只有透露你的个人资料,&nbsp;才能提供你所要求的产品和服务；<br />
（3）根据有关的法律法规要求；<br />
（4）按照相关政府主管部门的要求；<br />
（5）为维护<b>@ViewBag.SiteName</b>的合法权益.
</p>
<br />
<p>
	<b>3&nbsp;使用许可</b><b></b> 
</p>
<p>
	3.1 用户在使用<b>@ViewBag.SiteName</b>服务时,&nbsp;必须遵守中华人民共和国相关法律法规的规定,&nbsp;用户应同意将不会利用本服务进行任何违法或不正当的活动,&nbsp;包括但不限于下列行为∶<br />
（1）上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息:&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;1）&nbsp;反对宪法所确定的基本原则的；&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;2）&nbsp;危害国家安全,&nbsp;泄露国家秘密,&nbsp;颠覆国家政权,&nbsp;破坏国家统一的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;3）&nbsp;损害国家荣誉和利益的；&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;4）&nbsp;煽动民族仇恨、民族歧视、破坏民族团结的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;5）&nbsp;破坏国家宗教政策,&nbsp;宣扬邪教和封建迷信的；&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;6）&nbsp;散布谣言,&nbsp;扰乱社会秩序,&nbsp;破坏社会稳定的；&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;7）&nbsp;散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;8）&nbsp;侮辱或者诽谤他人,&nbsp;侵害他人合法权利的；&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;9）&nbsp;含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;10）&nbsp;含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；&nbsp;<br />
（2）不得为任何非法目的而使用网络服务系统；<br />
（3）不利用<b>@ViewBag.SiteName</b>服务从事以下活动:&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;1)&nbsp;未经允许,&nbsp;进入计算机信息网络或者使用计算机信息网络资源的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;2)&nbsp;未经允许,&nbsp;对计算机信息网络功能进行删除、修改或者增加的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;3)&nbsp;未经允许,&nbsp;对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;4)&nbsp;故意制作、传播计算机病毒等破坏性程序的；<br />
&nbsp;&nbsp;&nbsp;&nbsp;5)&nbsp;其他危害计算机信息网络安全的行为.
</p>
<p>
	3.2 如用户在使用网络服务时违反任何上述规定,&nbsp;<b>@ViewBag.SiteName</b>或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利）以减轻和消除用户不当行为造成的影响.&nbsp;<br />
</p>
<p>3.3用户不得对本服务任何部分或本服务之使用或获得,&nbsp;进行复制、拷贝、出售、转售或用于任何其它商业目的.
</p>
<br />
<p>
	<b>4&nbsp;服务内容</b><b></b> 
</p>
<p>
	4.1 <b>@ViewBag.SiteName</b>服务的具体内容由本站根据实际情况提供。
</p>
<p>
	4.2 除非本服务协议另有其它明示规定，<b>@ViewBag.SiteName</b>所推出的新产品、新功能、新服务，均受到本服务协议之规范。
</p>
<p>
	4.3 为使用本服务，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机或其它存取装置。
</p>
<p>
	4.4 鉴于网络服务的特殊性，<b>@ViewBag.SiteName</b>有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。<b>@ViewBag.SiteName</b>不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
</p>
<p>
	4.5 <b>@ViewBag.SiteName</b>需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，<b>@ViewBag.SiteName</b>无需为此承担任何责任。<b>@ViewBag.SiteName</b>保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。
</p>
<p>
	4.6 本服务或第三人可提供与其它国际互联网上之网站或资源之链接。由于<b>@ViewBag.SiteName</b>无法控制这些网站及资源，您了解并同意，此类网站或资源是否可供利用，<b>@ViewBag.SiteName</b>不予负责，存在或源于此类网站或资源之任何内容、广告、产品或其它资料，<b>@ViewBag.SiteName</b>亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，<b>@ViewBag.SiteName</b>不承担任何责任。
</p>
<p>
	4.7 用户明确同意其使用<b>@ViewBag.SiteName</b>服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过<b>@ViewBag.SiteName</b>服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。<b>@ViewBag.SiteName</b>对在服务网上得到的任何商品购物服务、交易进程、招聘信息，都不作担保。
</p>
<p>
	4.8 3个月未登陆的帐号，<b>@ViewBag.SiteName</b>保留关闭的权利。
</p>
<p>
	4.9 <b>@ViewBag.SiteName</b>有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，<b>@ViewBag.SiteName</b>对用户和任何第三人均无需承担任何责任。
</p>
<p>
	4.10 终止服务
    <br />
	您同意<b>@ViewBag.SiteName</b>得基于其自行之考虑，因任何理由，包含但不限于长时间未使用，或<b>@ViewBag.SiteName</b>认为您已经违反本服务协议的文字及精神，终止您的密码、帐号或本服务之使用（或服务之任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供之本服务，无需进行事先通知即可中断或终止，您承认并同意，<b>@ViewBag.SiteName</b>可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，<b>@ViewBag.SiteName</b>对您或任何第三人均不承担任何责任。<b></b> 
</p>
<br />
<p>
	<b>5&nbsp;所有权及知识产权</b><b></b> 
</p>
<p>
	5.1 对于用户通过<b>@ViewBag.SiteName</b>服务上传到<b>@ViewBag.SiteName</b>上可公开获取区域的任何内容,&nbsp;用户同意<b>@ViewBag.SiteName</b>在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可,&nbsp;以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分）,&nbsp;或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中.&nbsp;
</p>
<p>
 5.2 <b>@ViewBag.SiteName</b>拥有本网站内所有资料的版权.&nbsp;任何被授权的浏览、复制、打印和传播属于本网站内的资料必须符合以下条件:&nbsp;<br />
&nbsp;&nbsp;&nbsp;(1)&nbsp;所有的资料和图象均以获得信息为目的；<br />
&nbsp;&nbsp;&nbsp;(2)&nbsp;所有的资料和图象均不得用于商业目的；<br />
&nbsp;&nbsp;&nbsp;(3)&nbsp;所有的资料、图象及其任何部分都必须包括此版权声明；<br />
&nbsp;&nbsp;&nbsp;(4)&nbsp;网站所有的产品、技术与所有程序均属于<b>@ViewBag.SiteName</b>知识产权,&nbsp;在此并未授权.&nbsp;<br />
&nbsp;&nbsp;&nbsp;(5)&nbsp;<b>@ViewBag.SiteName</b>相关图形等<br />
&nbsp;&nbsp;&nbsp;&nbsp;未经<b>@ViewBag.SiteName</b>许可,&nbsp;任何人不得擅自（包括但不限于:&nbsp;以非法的方式复制、传播、展示、镜像、上载、下载）使用.&nbsp;否则,&nbsp;<b>@ViewBag.SiteName</b>将依法追究法律责任.
</p>
<p>
	5.3 &nbsp;本产品和其主页上涉及的由他人合法享有权益的内容、信息和资料，未经权利人授权许可，用户不得擅自复制、修改、或使用这些内容。用户因此对其他权利人的权利侵犯，造成的一切责任由用户自行承担，<b>@ViewBag.SiteName</b>不承担任何责任。
</p>
<br />
<p>
	<b>6&nbsp;协议的解释、变更与终止</b> 
</p>
<p>
	6.1 &nbsp;在适用法律允许的范围内，<b>@ViewBag.SiteName</b>保留对本协议任何条款的解释权和随时变更的权利。<b>@ViewBag.SiteName</b>可能会随时根据需要修改本协议的任一条款。如发生此类变更，<b>@ViewBag.SiteName</b>会提供新版本的最终用户协议。用户在变更后对本产品的使用将视为已接受变更后的协议条款。
</p>
<p>
	6.2 &nbsp;本协议在根据下述规定终止前，将会一直适用。当下列情况出现时，<b>@ViewBag.SiteName</b>可以随时中止与用户的协议：<br />
（A）用户违反了本协议中的任何规定；<br />
（B）法律法规要求终止本协议；<br />
（C）<b>@ViewBag.SiteName</b>认为实际情形不再适宜继续执行本协议。
</p>
<br />
<p>
	<b>7&nbsp;法律适用与司法管辖</b><b></b> 
</p>
<p>
	7.1&nbsp;本协议及因本协议产生的一切法律关系及纠纷，均适用中华人民共和国法律。用户与<b>@ViewBag.SiteName</b>在此同意以<b>@ViewBag.SiteName</b>所在地法院管辖。
</p>
<p>
	&nbsp;
</p>
<p>
	&nbsp;
</p>
<p align="right" style="text-align:right;">
	<b>@ViewBag.SiteName</b>（@ViewBag.SiteDomain）
    <br />
	2012年4月15日&nbsp; &nbsp;
</p>

<!--./协议内容-->
                </article>
            </section>
        </div>
    </div>

    <div class="span3">
          <div class="well sidebar-nav"> 
            @RenderPage("_NavList.cshtml", new { Active = "Agreement" })
          </div><!--/.well --> 
    </div>

</div>
