@{
    ViewBag.Title = "新用户注册";
    Layout = "_LoginLayout.cshtml";
    var invite = ViewBag.InviteCode as CengZai.Model.InviteCode;
    var password = ViewBag.Password as string;
    var repassword = ViewBag.Repassword as string;
}


    <div class="login-form">
    @using (Html.BeginForm())
    {
        if (ViewBag.RegisterLimit == 1)
        {
        <p>
            <label for="username">邀请码：</label>
            @Html.TextBox("invite", invite != null ? invite.Invite : "")
            @Html.ValidationMessage("invite") 
            <span class="muted">必须有邀请码才能注册
            （您可以接受朋友的邀请，或者 @Html.ActionLink("申请邀请码", "ApplyInvite")）
            </span>
        </p>
        }
        <p>
            <label for="username">邮 箱： </label>
            @Html.TextBox("email", invite != null ? invite.Email : "")
            @Html.ValidationMessage("email") <span class="alert">请真实填写，用来登录和找回密码，不可修改</span>
        </p>
        <p>
            <label for="password">密 码：</label>
            @Html.Password("password", password)
            @Html.ValidationMessage("password") <span class="alert">6~20位字符，建议使用英文字母和数字混合</span>
        </p>
        <p>
            <label for="confirmPassword">确认密码：</label>
            @Html.Password("repassword", repassword)
            @Html.ValidationMessage("repassword") <span class="alert">重复输入密码</span>
        </p>
        <p>
            <label for="username">用户名：<span class="muted">用来做主页地址，如myname，则主页地址为：@Url.BlogUrl("myname")</span></label>
            @if (CengZai.Helper.Config.OpenBlogDomain == 1)
            {
                @Html.TextBox("username", "", new { @class = "input-small" })<text>.</text>@CengZai.Helper.Config.BlogDomain
            }
            else
            {
                @Html.TextBox("username")
            }
            @Html.ValidationMessage("username") <span class="alert">5~20位字符，字母开头，只能是英文、数字、下划线组合，不分大小写</span>
            
        </p>
        <p>
            <label for="username">真实名字：</label>
            @Html.TextBox("nickname")
            @Html.ValidationMessage("nickname") <span class="alert">可使用中文、英文（真爱是不会用假名去掩饰滴(*^__^*)）</span>
        </p>
        <p>
            <label for="confirmPassword">性 别：</label>
            @Html.DropDownList("sex", new List<SelectListItem>()  
            {  
                (new SelectListItem() {Text = "帅哥", Value = "1", Selected = true}),  
                (new SelectListItem() {Text = "美女", Value = "2"})  

            })
        </p>
        <p>
            <label for="verifyCode">验证码：</label>
            @Html.TextBox("verifyCode")
            <img id="imgVerifyCode" src="../../page/verifycode.aspx?t=@DateTime.Now" alt="刷新验证码" style="cursor:pointer;" onclick="refreshCode('imgVerifyCode')" />
          	<a href="javascript:refreshCode('imgVerifyCode')">看不清？</a>
            @Html.ValidationMessage("verifyCode")
            <script type="text/javascript">
                //刷新
                function refreshCode(id) {
                    var img = document.getElementById(id);
                    img.src = "../../page/verifycode.aspx?t=" + new Date().getTime();
                }
            </script>
        </p>
        <p>
            <label class="checkbox inline"> 
                @Html.CheckBox("chkTerms")
                我已仔细阅读并同意《@Html.ActionLink("用户服务协议", "Agreement", "About", null, new { target = "_blank" })》
            </label> 
        </p>
        <p class="btn-group">
            <input type="submit" class="btn btn-primary" value="注册" onclick="return onSubmit();" />
            @Html.ActionLink("已经有帐号？", "Login", null, new { @class = "btn btn-danger" })
        </p>
        <p>@Html.ValidationSummary()</p>
    }
    </div>
    <script type="text/javascript">
        function onSubmit() {
            if ($("#chkTerms").attr("checked") != "checked") {
                alert("必须同意《用户注册协议》方可注册");
                return false;
            }
            return true;
        }
    
    </script>
