@{
    ViewBag.Title = "登记注册-" + ViewBag.SiteName;
    var loginUser = ViewBag.User as CengZai.Model.User;
    var friendsList = ViewBag.FriendList as List<CengZai.Model.User>;
}
@section head{
    <link href="@Url.Content("~/js/calendar/calendar.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/calendar/jquery.calendar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/swfupload/swfupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/swfupload/handlers.js")" type="text/javascript"></script>
    <script type="text/javascript">
        
        var oathTplData = [""
            ,"我娶你，做我的妻子。我愿对你承诺，从今天开始，无论是顺境或是逆境，富有或贫穷，健康或疾病，我将永远爱你、珍惜你直到地老天长。我承诺我将对你永远忠实。"
            , "我爱你。今天是一个特别的日子。长久以来，你是我的梦想，也是我祷告的内容，如今我的梦已经实现，上帝也亲自垂听了我的祷告。在这个特别的日子，你不单是我的喜乐，也是我头上的冠冕。我感谢耶稣，让我有这样的荣幸与你白头偕老。我谢谢你，愿意接纳我的爱。愿我们的未来，如同上帝的应许，永远光辉灿烂，从今以後，我将照顾你、尊敬你、保护你。我将我的生命交给你，我的朋友、我的爱人。今日，我将自己交给你。"
            , "说得好不如做得好，我不在意你认为我说的好不好，但我相信，你会看到我会做的很好。这里，请在座的各位见证，也请你相信，我会珍惜我们的爱情。今天，你将是我的新娘了，我只想说：我爱你，永远。"
            , "我，嫁给你，做我的丈夫。我愿对你承诺，从今天开始，无论是顺境或是逆境，富有或贫穷，健康或疾病，我将永远爱你、珍惜你直到地老天长。我承诺我将对你永远忠实。"
            , "我爱你，也知道你爱我。我全然信赖上帝拣选你做我的丈夫。这是我的祷告，也是我的渴望，你将发现，我就是上帝特别安排来帮助你的，因为对你的信赖，我愿意顺服你，就如同我顺服主一般。因此，我承诺成为顺服你、对你忠实并且爱你的妻子。你往哪里去，我也往那里去；你在哪里住宿，我也在那里住宿；你的国就是我的国，你的神就是我的神。"
            , "不求精美的衣食，不求奢华的生活，只愿我们相爱到永远，快乐开心每一天。今天，我要嫁给你了，我想告诉你，我永远爱你。"
            ]

        $(document).ready(function () {
            $("#birth").calendar();
            $("#joinDate").calendar();
            $("#selectOath").change(function () {
                $("#oath").val(oathTplData[$(this).val()]);
            });
            $("#error").hide();
        });

        function beginSubmit() {
            $('.input-validation-error').removeClass('input-validation-error');
            $('.field-validation-error').html('');
            $('#save').button('loading');
            $("#error").hide();
        }
        function succ(err) {
            err = eval(err);
            if (!err) {
                alert("操作异常！");
            }
            if (err.id == "success") {
                alert(err.msg);
                top.location.href = "/Lover";
                return;
            }
            showErr(err);
        }

        function fail(res) {
            console.log(res);
            $("#errmsg").html(res.responseText);
            $("#error").show();
            $('#save').button('reset');
        }

        function showErr(err) {
            $("#" + err.id).addClass("input-validation-error");
            $("#tips-" + err.id).html(err.msg);
            $("#errmsg").html(err.msg);
            $("#error").show();
            $('#save').button('reset');
        }
    </script>


<script type="text/javascript">

    var swfu;

    window.onload = function () {
        var settings = {
            flash_url: "../../js/swfupload/swfupload.swf",
            flash9_url: "../../js/swfupload/swfupload_fp9.swf",
            upload_url: "/Lover/UploadImage",
            file_post_name: "fileAvatar",
            post_params: {
                "ASPSESSID": "@Session.SessionID"
            },
            debug: false,

            // File Upload Settings
            file_size_limit: "1 MB",
            file_types: "*.jpg",
            file_types_description: "JPG Images",
            file_upload_limit: 0,    // Zero means unlimited
            file_queue_limit: 1,
            button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,

            // Button settings
            button_image_url: "../../img/upload-photo.png",
            button_width: 160,
            button_height: 38,
            button_placeholder_id: "divUploadAvatar",
            button_text: '<span class="theFont"></span>',
            button_text_style: ".theFont { font-size: 16;color:#ff0000; }",
            button_text_left_padding: 12,
            button_text_top_padding: 3,

            // The event handler functions are defined in handlers.js
            swfupload_preload_handler: preLoad,
            swfupload_load_failed_handler: loadFailed,
            file_dialog_complete_handler: fileDialogComplete,
            file_queued_handler: fileQueued,
            file_queue_error_handler: fileQueueError,
            upload_start_handler: uploadStart,
            upload_progress_handler: uploadProgress,
            upload_error_handler: uploadError,
            upload_success_handler: uploadSuccess
                    
        };

        swfu = new SWFUpload(settings);
    }

    function fileDialogComplete(numFilesSelected, numFilesQueued) {
        try {
            if (numFilesQueued > 0) {
                this.addPostParam("avatar",$("#avatar").val());
                this.startUpload();
                $("#tips-avatar").html("正在上传...");
            }
        } catch (ex) {
            this.debug(ex);
        }
    }

    function uploadSuccess(file, serverData) {
	    try {
            var data = eval('(' + serverData + ')');
            if(data.id == 0){
                $("#avatar").val(data.msg);
                var showUrl =  '@CengZai.Helper.Config.UploadHttpPath/' + data.msg;
                $("#imgAvatar").attr("src",  showUrl);
                $("#imgAvatar").css("display","block");
                $("#tips-avatar").html("上传完毕");;
            }
            else
            {
                $("#tips-avatar").html(data.msg);;
                alert(data.msg);
            }
                    
	    } catch (ex) {
            alert('上传图片出现异常，请稍后再试');
            console.log(ex);
		    this.debug(ex);
	    }
    }

</script>

}

<div class="container">

    <div class="row-fluid">
        <div class="span8 bg-white">
        <div class="padding">

            <!--登记表单-->
            @*@using (Html.BeginForm("Apply", "Lover", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))*@
            @using (Ajax.BeginForm("Apply", null
                , new AjaxOptions { UpdateTargetId = "errmsg", OnBegin = "beginSubmit", OnSuccess = "succ", OnFailure = "fail" }
                , new { @class = "form-horizontal" }))
            {
            <fieldset>
            <legend>请填写申请表单</legend>
                <div class="control-group">
                        <label class="control-label" for="certificate">申请证件类型：</label>
                        <div class="controls">
                            <select name="certificate" id="certificate">
                                <option value="2">结婚证（已经结婚）</option>
                                <option value="1">恋爱证（正在恋爱）</option>
                            </select>
                            <span class="field-validation-error" data-valmsg-for="certificate" id="tips-certificate" data-valmsg-replace="true"></span>
                            <p class="help-block">相爱是一件严肃而神圣的事，请根据现实生活中的恋爱状态选择</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="honeyUserID">对方帐号：</label>
                            <div class="controls">
                                <select name="honeyUserID" id="honeyUserID">
                                    <option value="0">-=选择=-</option>
                                    @if (friendsList != null && friendsList.Count > 0)
                                    {
                                        foreach (CengZai.Model.User friend in friendsList)
                                        {
                                            <option value="@friend.UserID">@friend.Nickname</option>
                                        }
                                    }
                                </select>
                                <span class="field-validation-error" data-valmsg-for="honeyUserID" id="tips-honeyUserID" data-valmsg-replace="true"></span>
                                <p class="help-block">您关注的人会出现在选项里（对方不在？您可以 @Html.ActionLink("查找","Find", "Friend") 或者 @Html.ActionLink("邀请Ta加入","Invite", "Friend")）</p>
                            </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="nickname">我的名字：</label>
                            <div class="controls">
                                @Html.TextBox("nickname", loginUser.Nickname, new { @class = "input-middle" })
                                <span class="field-validation-error" data-valmsg-for="nickname" id="tips-nickname" data-valmsg-replace="true"></span>
                                <p class="help-block">这里是你帐号的昵称，建议用真实名字</p>
                            </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="avatar">我们的合照头像：</label>
                        <div class="controls">
                            <p>
                                <img id="imgAvatar"  width="196" height="136" alt="" style="display:none" />
                                <input type="hidden" value="" name="avatar" id="avatar" />
                            </p>
                            <div id="divUploadAvatar"></div>
                            <span class="field-validation-error" data-valmsg-for="avatar" id="tips-avatar" data-valmsg-replace="true"></span>
                            <p class="help-block">请上传一张你们的合影照片，建议比例是180px（宽）×120px（高），大小不能超过1MB（不可更改）</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="mobile">我的手机号：</label>
                        <div class="controls">
                            <input type="text" class="input-middle" value="@loginUser.Mobile" name="mobile" id="mobile">
                            <span class="field-validation-error" data-valmsg-for="mobile" id="tips-mobile" data-valmsg-replace="true"></span>
                            <p class="help-block">用手机号代替身份证号，我们会保护您的隐私，手机号会加密显示</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="birth">我的生日：</label>
                        <div class="controls">
                            <input type="text" class="input-middle" value="@Html.GetDateFormat(loginUser.Birth, "yyyy-MM-dd")" name="birth" id="birth">
                            <span class="field-validation-error" data-valmsg-for="birth" id="tips-birth" data-valmsg-replace="true"></span>
                            <p class="help-block">请填写真实生日，会显示在证件上</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="metDate">登记日期：</label>
                        <div class="controls">
                            <input type="text" class="input-middle" name="joinDate" id="joinDate">
                             <span class="field-validation-error" data-valmsg-for="joinDate" id="tips-joinDate" data-valmsg-replace="true"></span>
                            <p class="help-block">请如实填写，不可更改，如：2012-02-14</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="birth">我的宣誓：</label>
                        <div class="controls">
                            <p>
                                <select name="selectOath" id="selectOath">
                                    <option value="0">自己写</option>
                                    <option value="1">男生宣誓1</option>
                                    <option value="2">男生宣誓2</option>
                                    <option value="3">男生宣誓3</option>
                                    <option value="4">女生宣誓1</option>
                                    <option value="5">女生宣誓2</option>
                                    <option value="6">女生宣誓3</option>
                                </select>
                            </p>
                            <textarea name="oath" id="oath" class="input-xlarge" style="width:400px;" rows="8"></textarea>
                            <p class="field-validation-error" data-valmsg-for="oath" id="tips-oath" data-valmsg-replace="true"></p>
                            <p class="help-block">请填写您对对方的誓言，大胆说出您的爱~（1000个字符以内，不可更改）</p>
                        </div>
                    </div>
                    <div class="form-actions"> 
                        <button type="submit" id="save" class="btn btn-primary" data-loading-text="正在保存..." onclick="return confirm('请确保资料真实！确定提交？');">提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("取消", "Index")
                    </div>
                    <div class="alert alert-block alert-error" id="error">
                        <a class="close" href="#" onclick="$('#error').hide(); return false;">&times;</a>
                        <h4 class="alert-heading">唉哟，出错了！</h4>
                        <p id="errmsg"></p>
                      </div>
                </fieldset>
            }
              <!--登记表单-->
        </div>
        </div>
        <!-- /span8 -->
        <div class="span4">
            <div class="well sidebar-nav"> 
            <h3>相关说明</h3>
            <div>
                申请流程：提出申请 -> 对方确认 -> 公证人审核(曾在网) -> 颁发证书 -> 成为情侣博客
            </div>
            </div>
        </div>
    </div>
</div>

