@{
    ViewBag.Title = "我的首页-" + ViewBag.SiteName;
    var user = ViewBag.User as CengZai.Model.User;
    var myLover = ViewBag.MyLover as CengZai.Model.Lover;
    var receiveLoverList = ViewBag.ReceiveLoverList as List<CengZai.Model.Lover>;
}
@section head{
<style type="text/css">
li {user agent stylesheet
    display: list-item;
    text-align: -webkit-match-parent;
}
.cggs-PartA{width:974px;margin:3px auto 0;position:relative;height:488px;overflow:hidden;background-color:#fff;}
.cggs-PartA-line{width:974px;height:160px;overflow:hidden;margin-top:2px;}
.cggs-PartA-line ul li{float:left;display:inline;position:relative;margin-left:2px;}
.cggs-PartA-line ul li:hover{
	text-decoration:none
}
.cggs-PartA-line li a img{width:160px;height:160px;vertical-align:top;}
.cggs-PartA-bigshow{position:absolute;top:0;left:0;z-index:2;}
.cggs-PartA-bigshow a img{width:322px;height:322px;border:2px solid #fff;}
.cggs-PartA-bigshow-por{position:relative;width:326px;height:326px;}
.cggs-PartA-bigshow-poa{position:absolute;right:12px;bottom:12px;display:block;background-color: rgba(255, 255, 255, 0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)
;font-size:14px;padding:10px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;line-height:18px;}
.cggs-PartA-bigshow-poa .light{font-size:12px;color:#666;}
.cggs-PartA-li-poa{position:absolute;left:10px;bottom:10px;color:#fff;background:#000;padding:4px 8px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;filter:alpha(opacity=80);-moz-opacity:.8;opacity:0.8;}
.cggs-PartA-li-pop{width:160px;height:72px;position:absolute;top:88px;left:0px;background:#000;filter:alpha(opacity=60);-moz-opacity:.6;opacity:0.6;}
.cggs-PartA-li-pop-pa{width:136px;margin:5px auto 0;color:#fff;height:14px;overflow:hidden;white-space:nowrap}
.cggs-PartA-li-pop-pb{width:136px;margin:3px auto 0;color:#8c8c8c;}
.cggs-PartA-li-pop-ul{width:160px;height:34px;overflow:hidden;}
.cggs-PartA-line .cggs-PartA-li-pop-ul li{float:left;display:inline;height:21px;line-height:21px;position:static;white-space:nowrap;margin:5px 0 0 6px;}
.cggs-PartA-line .cggs-PartA-li-pop-ul li span{float:left;display:inline;}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".imgbox").hover(
        function () {
            $(this).find(".cggs-PartA-li-pop").slideDown();
            $(this).find(".cggs-PartA-li-poa").hide();
        },
		 function () {
		     $(this).find(".cggs-PartA-li-pop").slideUp();
		     $(this).find(".cggs-PartA-li-poa").show();
		 }
    );
    });
</script>
}

<div class="container  bg-white">
<div class="padding">

        
    @if (receiveLoverList != null && receiveLoverList.Count > 0)
    {
        <div class="alert alert-block"> 
            <a class="close" data-dismiss="alert" href="#">&times;</a> 
            <h4 class="alert-heading">@ViewBag.User.Nickname，您收到 @receiveLoverList.Count 个好友的登记申请!</h4> 
            <ul>
                @foreach(CengZai.Model.Lover m in receiveLoverList){
                <li>@Html.ActionLink("" + Html.GetUserNickname(m.ApplyUserID) + "向您提交【" + Html.GetCertificateName(m.Certificate) + "】登记申请","Preview",new {LoverID=m.LoverID})</li>
                }
            </ul>
        </div>
    }

    <div class="well"> 
    @if (myLover != null)
    {
        if (myLover.State == 1)
        {
            @Html.ActionLink("查看我的" + Html.GetCertificateName(myLover.Certificate), "Detail", "Lover", new {LoverID=@myLover.LoverID }, new { @class = "btn btn-large btn-primary" })
        }
        else
        {
            @Html.ActionLink("查看我的" + Html.GetCertificateName(myLover.Certificate) + "状态", "Preview", "Lover", new { LoverID = @myLover.LoverID }, new { @class = "btn btn-large btn-primary" })
        }
    }
    else
    {
        <h4 class="alert-heading">@ViewBag.User.Nickname，您尚未申请登记!</h4> 
        <p>登记是爱情的见证，是承诺的表示方式，不管是正在恋爱还是已经结婚，都可以！快快和自己的另一半登记吧，与其被动地等待还不如主动抓住幸福!</p> 
        <p>
            @Html.ActionLink("我要申请登记注册", "Apply", "Lover", null, new { @class = "btn btn-large btn-success" })
        </p> 
    }
    </div>

     <!--内容区域-->
    <div class="lover-wall">
        <div class="cggs-PartA-line clearfix">
            <ul>
                <li class="imgbox">
                    <a target="_blank" href="http://love.jiayuan.com/myspace.php?id=234358">
                        <img src="http://pic1lv.jyimg.com/k/2012-03-07/13/009dd11587_160x160.jpg" alt="" title="">
                        <p class="cggs-PartA-li-poa">80后</p>
                    </a>				
                    <div class="cggs-PartA-li-pop" style="display:none;">				  	
                        <p class="cggs-PartA-li-pop-pa">北京导游 &amp; 保密</p>				  	
                        <p class="cggs-PartA-li-pop-pb">2011.11.09</p>				  	
                        <ul class="cggs-PartA-li-pop-ul">				  		
                        <li>
                            <span class="poppng-left"></span>
                            <span class="poppng-center">
                            <a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=80%E5%90%8E" target="_blank">80后</a></span><span class="poppng-right"></span></li><li><span class="poppng-left"></span><span class="poppng-center"><a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=%E5%B7%A7%E5%90%88" target="_blank">巧合</a></span><span class="poppng-right"></span>
                            </li>				  	
                         </ul>
                     </div>		  	
                 </li>
                 <li class="imgbox">
                    <a target="_blank" href="http://love.jiayuan.com/myspace.php?id=234358">
                        <img src="http://pic1lv.jyimg.com/k/2012-03-07/13/009dd11587_160x160.jpg" alt="" title="">
                        <p class="cggs-PartA-li-poa">80后</p>
                    </a>				
                    <div class="cggs-PartA-li-pop" style="display:none;">				  	
                        <p class="cggs-PartA-li-pop-pa">北京导游 &amp; 保密</p>				  	
                        <p class="cggs-PartA-li-pop-pb">2011.11.09</p>				  	
                        <ul class="cggs-PartA-li-pop-ul">				  		
                        <li>
                            <span class="poppng-left"></span>
                            <span class="poppng-center">
                            <a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=80%E5%90%8E" target="_blank">80后</a></span><span class="poppng-right"></span></li><li><span class="poppng-left"></span><span class="poppng-center"><a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=%E5%B7%A7%E5%90%88" target="_blank">巧合</a></span><span class="poppng-right"></span>
                            </li>				  	
                         </ul>
                     </div>		  	
                 </li>
                 <li class="imgbox">
                    <a target="_blank" href="http://love.jiayuan.com/myspace.php?id=234358">
                        <img src="http://pic1lv.jyimg.com/k/2012-03-07/13/009dd11587_160x160.jpg" alt="" title="">
                        <p class="cggs-PartA-li-poa">80后</p>
                    </a>				
                    <div class="cggs-PartA-li-pop" style="display:none;">				  	
                        <p class="cggs-PartA-li-pop-pa">北京导游 &amp; 保密</p>				  	
                        <p class="cggs-PartA-li-pop-pb">2011.11.09</p>				  	
                        <ul class="cggs-PartA-li-pop-ul">				  		
                        <li>
                            <span class="poppng-left"></span>
                            <span class="poppng-center">
                            <a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=80%E5%90%8E" target="_blank">80后</a></span><span class="poppng-right"></span></li><li><span class="poppng-left"></span><span class="poppng-center"><a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=%E5%B7%A7%E5%90%88" target="_blank">巧合</a></span><span class="poppng-right"></span>
                            </li>				  	
                         </ul>
                     </div>		  	
                 </li>
                 <li class="imgbox">
                    <a target="_blank" href="http://love.jiayuan.com/myspace.php?id=234358">
                        <img src="http://pic1lv.jyimg.com/k/2012-03-07/13/009dd11587_160x160.jpg" alt="" title="">
                        <p class="cggs-PartA-li-poa">80后</p>
                    </a>				
                    <div class="cggs-PartA-li-pop" style="display:none;">				  	
                        <p class="cggs-PartA-li-pop-pa">北京导游 &amp; 保密</p>				  	
                        <p class="cggs-PartA-li-pop-pb">2011.11.09</p>				  	
                        <ul class="cggs-PartA-li-pop-ul">				  		
                        <li>
                            <span class="poppng-left"></span>
                            <span class="poppng-center">
                            <a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=80%E5%90%8E" target="_blank">80后</a></span><span class="poppng-right"></span></li><li><span class="poppng-left"></span><span class="poppng-center"><a href="http://love.jiayuan.com/keywords.php?from_search=2&amp;keywords=%E5%B7%A7%E5%90%88" target="_blank">巧合</a></span><span class="poppng-right"></span>
                            </li>				  	
                         </ul>
                     </div>		  	
                 </li>
            </ul>
        </div>
    </div>
    <!--/内容区域-->

</div>
</div>



